<div class="container menu-color">
  <br>

  <mat-card *ngIf="!dinamico">
    <div class="zoom">
      <img mat-card-image src="../assets/images/sr-chido-menu.png">
    </div>
  </mat-card>

  <div *ngIf="dinamico" > 
    <div *ngFor="let categoria of cardapio?.categorias" class="box">
      <div class="title brown">
        <b>{{ categoria.nome }}</b>
        <div class="right">
          <img width="100px" height="70px" [src]="item?.urlImagem">
        </div>
      </div>

      <div *ngFor="let item of categoria.itens">
        <div class="subtitle green">
          {{ createDots(item.nome, 45) }} &nbsp;&nbsp; <span class="right"> {{ item.preco | currency:'BRL' }} </span>
        </div> 
        <div class="subtitle brown description">
          {{ item.descricao }}  
        </div> 
        <br>          
      </div>

    </div>
  </div>

  <br>
  <br>
</div>

